footer {
    display: flex;
    justify-content: space-around;
    margin-top: 240px;
    background-color: #009999;
    color: white;
  }
  
  .footer__title {
    font-weight: bold;
    font-size: 25px;
  }
  
  .footer__menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }