<footer>
    <div class="footer__item navbar__contact">
        <p class="footer__title">Orders and delivery</p>
        <div class="footer__menu footer__account">My account</div>
        <div class="footer__menu footer__delivery">Delivery</div>
        <div class="footer__menu footer__return">Return policy</div>
        <div class="footer__menu footer__payment">Payment methods</div>
      </div>
      <div class="footer__item navbar__support">
        <p class="footer__title">Support</p>
        <div class="footer__menu footer__contact">Contact</div>
        <div class="footer__menu footer__terms">Terms and conditions</div>
        <div class="footer__menu footer__nacp">NACP</div>
      </div>
</footer>

